<div class="menu-bar">
    <a href="#" class="layout-logo">
        <img src="assets/logoteste.png" alt="logo" />
    </a>
     <div class="menu-card">
          <div class="menu-title txt-center">
              <h2 style="font-size: large; font-weight: bold;" >Filtros de Busca</h2>
          </div>
          <div>
              <form #formulario="ngForm" [formGroup]="form" (submit)="buscar()">                     
                  <div class="form-group mt-1">
                      <label class="label">Ano do Contrato:</label>
                      <input class="form-control" formControlName="anoContrato" type="text" pInputText maxlength="40" />  
                  </div>
      
                  <div class="form-group mt-1">
                  <label class="label">Tipo do Contrato:</label>    
                  <p-dropdown formControlName="tipoContrato" [options]="listTipoContrato" placeholder="Selecione" [showClear]="true"></p-dropdown>                  
                  </div>

                  <div class="form-group">
                    <label class="label">Nome do Fornecedor:</label>
                    <input class="form-control" formControlName="nomeFornecedor" type="text" pInputText > 
                    </div>      
                  <div class="separator"></div>
                  <button pButton type="submit" (click)="buscar()"  label="Buscar" icon="pi pi-play" class="mr-1"  ></button>
              </form>
          </div>
      </div>
                       
</div>